<footer class="footer">
    <div class="footer-conteiner">
        <div class="contato-cred">
            Feito por Giovanni Kanjiscuk <br />
            E-mail para contato: giovanni.kanjiscuk@gmail.com
            <br />
            <br>
            Avatar South Park: créditos ao sp-studio.de <br />
        </div>
        <div class="icons">
            <div class="links links1">
                <a
                    href="https://github.com/GKanjiscuk"
                    target="_blank"
                >
                    <img
                        class="transparente"
                        src="assets/img/githubfooter.svg"
                        alt="github-icon"
                    />
                </a>
            </div>
            <div class="links links2">
                <a
                    href="https://www.linkedin.com/in/Giovanni-Kanjiscuk/"
                    target="_blank"
                >
                    <img
                        class="transparente"
                        src="assets/img/linkedinff.svg"
                        alt="github-icon"
                    />
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- ====================footer-FIM==================== -->
<!-- May the force be with you  -->
</div>
<script src="/assets/js/scroll.js"></script>
<script src="/assets/js/habilidades.js"></script>
<script src="/assets/js/maquina_escrever.js"></script>
<script src="/assets/js/projetos.js"></script>