<%- include('partials/header') %>
    <section id="inicio">
        <div class="inicio-container">
            <div class="centralizador">
                <div class="sobre-mim" style="display: flex; justify-content: space-around; flex-direction: row; align-items: center;">
                    <img src="assets/img/helpnei3.webp" alt="" style="height: 300px; width: 300px;">

                    <div style="display: flex; flex-direction: column; justify-content: space-around; align-items: center; gap: 25px;">
                        <p>Projeto em parceria com a empresa Helpnei, cujo objetivo é clocar em práticas hard e softskills em um Projeto de Aprendizado Integrado com a finalidade de atrair mais patrocinadores à empresa.</p>
                        <a href="https://github.com/ORBIS-2DSM-API/orbis-main"><button>Link do Github</button></a>
                    </div>

                </div>
            </div>
        </div>
    </section>

<%- include('partials/footer') %>